<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.liubaiblog.admin.mapper.OperLogMapper" >
  <resultMap id="BaseResultMap" type="top.liubaiblog.admin.pojo.OperLog" >
    <id column="oper_id" property="operId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="business_type" property="businessType" jdbcType="VARCHAR" />
    <result column="method" property="method" jdbcType="VARCHAR" />
    <result column="request_method" property="requestMethod" jdbcType="VARCHAR" />
    <result column="oper_name" property="operName" jdbcType="VARCHAR" />
    <result column="oper_url" property="operUrl" jdbcType="VARCHAR" />
    <result column="oper_ip" property="operIp" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="errorMsg" property="errormsg" jdbcType="VARCHAR" />
    <result column="operTime" property="opertime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ydl_oper_log
    where oper_id = #{operId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.liubaiblog.admin.pojo.OperLog" >
    insert into ydl_oper_log (oper_id, title, business_type, 
      method, request_method, oper_name, 
      oper_url, oper_ip, status, 
      errorMsg, operTime)
    values (#{operId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{businessType,jdbcType=VARCHAR}, 
      #{method,jdbcType=VARCHAR}, #{requestMethod,jdbcType=VARCHAR}, #{operName,jdbcType=VARCHAR}, 
      #{operUrl,jdbcType=VARCHAR}, #{operIp,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{errormsg,jdbcType=VARCHAR}, #{opertime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="top.liubaiblog.admin.pojo.OperLog" >
    update ydl_oper_log
    set title = #{title,jdbcType=VARCHAR},
      business_type = #{businessType,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      request_method = #{requestMethod,jdbcType=VARCHAR},
      oper_name = #{operName,jdbcType=VARCHAR},
      oper_url = #{operUrl,jdbcType=VARCHAR},
      oper_ip = #{operIp,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      errorMsg = #{errormsg,jdbcType=VARCHAR},
      operTime = #{opertime,jdbcType=TIMESTAMP}
    where oper_id = #{operId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select oper_id, title, business_type, method, request_method, oper_name, oper_url, 
    oper_ip, status, errorMsg, operTime
    from ydl_oper_log
    where oper_id = #{operId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select oper_id, title, business_type, method, request_method, oper_name, oper_url, 
    oper_ip, status, errorMsg, operTime
    from ydl_oper_log
  </select>
</mapper>